data/
logs/
target/

.env

.env
arch.png

config.json
__pycache__/
logs/
profiles.yml



dbt_packages/


requirements.txt

seeds/



schema.yml

seeds
seeds/
seeds/exchange_rates.csv
seeds/metals_prices.csv
seeds/economic_indicators.csv
seeds/stock_indices.csv
seed_output.log


__pycache__
_init_.pyc

extract/__init__.py


checks_dim_date.yml.old 
checks_dim_date.yml.old2 

checks.yml 
configuration.yml
quality/README.md

dbt_project.yml
DWH_Tables_Reference.md
PowerBI_Dashboard_Guide.md
QualityChecks_README.md

PowerBI_Dashboard_QuickStart.md